.top-div{
  background-image: linear-gradient(#3c3737,#dad7d7, #e6e6e6,#d7d6d6);
  min-height: 800px;
}
.main-content {
  background-color: #f1ecec;
  padding: 10px;
  width: 88%;
  margin: 0 auto;
}

.content-title {
  color:#505050;
  font-family: 'Arial Black';
  margin-top: 10px;
  font-size: 1.8em;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.news-link {
  color: rgb(75, 28, 184);
  font-weight: bold;
}
li {
  text-decoration: none;
  list-style: none;
}

.news-title {
  
  color: brown;
  
}

.news-content {
  color: rgb(63, 63, 66);
  font-style: italic;
}
.header {
  
  background-image: linear-gradient(to bottom, #c5260f, #502b2b); 
  margin-bottom: 0rem;

}
.news-date {
  font-style: italic;
  color: rgb(97, 96, 96);
  display: inline;
}

.news-header {
  display: inline-block;
}

.news-item-title{
  color: whitesmoke;
  background-color: grey;
  /*background-image: linear-gradient(#cacaca, #e6e6e6,#d8d5d5);*/
  padding: 5px;
  width: 100%;
  padding-left: 15px;
  display: block;
  font-weight: bold;
  border-bottom: 5px #c6c6c6 solid;

}

.news-item-header {
background-color: white;
margin-bottom: 30px;
padding: 10px;

border-bottom: #c9c7c7 3px solid;
}
.news-item-link {
 font-size: smaller;
  line-height: 1.0;
  display: block;
}

.news-item-date {
  color:black;
  padding-left: 15px;
  margin-bottom: 10px;
  display: block;
  font-style: italic;
}

.news-item-intro {
  color: black;
  padding-left: 15px;
  margin-bottom: 0px;
}

.gallery-content {
  margin-left: 7px;
}
