.top-div {
    min-height: 800px;
    color: black;
}

.main-content {
    background-color: #eaeaea;
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    min-height: 800px;
}

.content-title {
    color: #505050;
    font-family: 'Arial Black';
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.news-link {
    color: rgb(75, 28, 184);
    font-weight: bold;
}

li {
    text-decoration: none;
    list-style: none;
}

.news-title {

    color: brown;

}

.news-content {
    color: rgb(63, 63, 66);
    font-style: italic;
}

.header {
    background-image: linear-gradient(to bottom, #a21e0b, #ad1c1c, #670606);
    margin-bottom: 0rem;
}
.header.row {
    margin-right: 0px;
}

.news-date {
    font-style: italic;
    color: rgb(97, 96, 96);
    display: inline;
}

.news-header {
    display: inline-block;
}

.news-item-title {
    color: black;
    /*background-color: grey;*/
    /*background-image: linear-gradient(#cacaca, #e6e6e6,#d8d5d5);*/
    padding: 5px;
    width: 100%;
    padding-left: 15px;
    display: block;
    font-weight: bold;
    border-bottom: 5px #c6c6c6 solid;

}

.content-main-div {
    margin: 0 auto;  
    width: auto;
    padding: 0px 1.0875rem 1.45rem;
    padding-top: 0;
    background-image: linear-gradient(#b5b5b5, #dedcdc, #cacaca, #b9b7b7);
   /*  background-image: linear-gradient(#941818, #b93636, #ad4545, #772e2e); */
   /*background-image: linear-gradient(#310202, #4e0606, #4e0909, #250505); */
    
}

.news-item-header {
    background-color: whitesmoke;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: #c9c7c7 3px solid;
    font-size: smaller;
}

.news-item-link {
    font-size: smaller;
    line-height: 1.0;
    display: block;
}

.news-item-date {
    color: black;
    padding-left: 15px;
    margin-bottom: 10px;
    display: block;
    font-style: italic;
}

.news-item-intro {
    color: black;
    padding-left: 15px;
    margin-bottom: 0px;
}

.gallery-content {
    margin-left: 7px;
    color: black;
}

.news-content-section {
    color: black;
}

.item-title {
    color: black;
    margin: 20px 0px 20px 20px;
    border-bottom: 3px solid lightgrey;
    
}

.content-section {
    padding: 0% 3%;
    color: black;
}

.content-section-contact {
    padding: 10px;
    color: black;
    line-height: 0.4rem;
}

.footer{
  height: auto;
    background-image: linear-gradient(to bottom, #a21e0b, #ad1c1c, #670606);
   /* background-image: linear-gradient(#c5c1c1,#aba8a8,#8e8e8e);*/
    bottom: 0;
    height: 65px;
    width: 100%;
}

.footer-text {
  text-align: center;
  display: block;
  color: white;
  padding-top: 1%;
}

.login-text {
  float: right;
  margin-right: 10px;
}

.main-footer-div {
  text-align: center;
  font-size: 2rem;
  color: white;
}
article {
    text-align: justify;
    font-size: smaller;
}
.work-item{
    margin-left: 15px;
}
.img-article {
    margin-left: 15px;
}

.header-icons {
  margin-top: 10px;
}

.header-icons > img {
  float: right;
    margin-left: 5px;
}

.header-logo-img {
 float: right;
 right: 0%;
 position: absolute;
 margin-top: -20%;
}

.header-logo {
  margin-top: 5%;
}