.navigation {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigation-content {
/*background-color: rgb(128, 124, 124);*/
background-image: linear-gradient(#c1c1c1,#9b9b9b,#6d6b6b);
height: 60px;

}

.dropdown-menu.show {
  
background-image: linear-gradient(#c1c1c1,#9b9b9b,#6d6b6b);
}

.navigation-dropdown-link.navigation-link.dropdown.nav-item{
  color: #611e25;
}

a.dropdown-toggle.nav-link{
  color: #611e25;
}

.navigation-link {
  color: #611e25;
  text-shadow: "5px 0 #444242, 0 1px black, 1px 0 black, 0 -1px black";
  display: block;
  margin: auto;
  margin-left: 30px;
  text-transform: uppercase;
  font-family: 'Arial Black';
  border: 10px solid transparent;
 /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif*/
}
.navigation-link:active{
  background: rgb(172, 19, 19);;
}
.navigation-link:hover{
  background: rgb(172, 19, 19);
  color: lightgrey;
  text-decoration: none;
  padding: 0px;
  border: 10px solid rgb(172, 19, 19);
}

.mr-auto.navbar-nav {
  margin: 0 auto;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
